*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
}

body, html{
  /* overflow-x: hidden; */
}

.webgl{
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  color: #ffffff;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: 700px) {
    padding: 10px;
  }
}

nav a{
  text-decoration: none;color: #ffffff;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 4rem;

  @media (max-width: 700px) {
    display: none
  }
}

.title{
  color: #FFFFFF;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
}

.storeControls{
  color: #FFFFFF;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -85%);
  margin-top: 3rem;
}

.model{
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(2px);
  color: #FFFFFF;
  display: grid;
  place-items: center;
}